# ignore file with access credentials #
#######################################

config.py

# ignore pickled dictionaries, ie data files #
##############################################

*.pickle
!vocab_from_allEnglish_captions_and_some_texts.pickle
*.npy

# ignore database dumps #
##############################################
*.dump

# ignore logfiles #
###################

*Logfile*
logfiles/
youtube-dl-output/
textbooks/
notebooks/.ipynb_checkpoints/


# some other thing with private data #
######################################
__pycache__
