# ignore file with access credentials #
#######################################

config.py

# ignore pickled dictionaries, ie data files #
##############################################

*.pickle

# ignore logfiles #
###################

*Logfile*
logfiles/
youtube-dl-output/
textbooks/
notebooks/.ipynb_checkpoints/


# some other thing with private data #
######################################
__pycache__
