<!DOCTYPE html>
<html lang="en">

        {% block head %}

    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename='six_similar.css') }}">
    <script type= "text/javascript" src="{{ url_for('static', filename='ie-emulation-modes-warning.js') }}"></script>   
    <script type= "text/javascript" src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>     

         {% endblock %}


<!--http://www.catipsum.com/index.php-->
<!-- based on template http://getbootstrap.com/examples/grid/ -->
<!--http://charliepark.org/bootstrap_buttons/  for the colouring!-->


  <body>
    <div class="container"> 
      <br>
      <p>Paste or type your text here to locate similar videos based only on their caption texts.</p>

      <form id="textform" method="post">
          <textarea class="form-control" name = "text" style="resize:none"></textarea>
          <div class="col-md-12 text-center buttondiv">    
            <button type="submit" class="btn btn-lg btn-default btn-custom" value="receive_text" name="submit">Run NLP similarity!</button>
          </div>
          
     </form>

      <br><br>


{% if showAll != False %}


      <div class="row">        
        <div class="col-md-4">
                <h5>cat not kitten around i like big cats</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{YTID1}}"></iframe>
                </div>  
        </div>                
        <div class="col-md-4">
                <h5>who purrs and makes the perfect moonlight eyes</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/_2zt4yVCkGk"></iframe>     
                </div>  
        </div>
        <div class="col-md-4">
                <h5>poop rainbows in litter box all day i cry</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/_55kVk_WSbY"></iframe>      
                </div>      
        </div>
      </div>

      <div class="row">        
        <div class="col-md-4">
                <h5>kitty power paw at beetle and eat it</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/_8nAY-9AD0M"></iframe>
                </div>  
        </div>                
        <div class="col-md-4">
                <h5> instantly break out into full speed gallop</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/_9hM85SBV6g"></iframe>     
                </div>  
        </div>
        <div class="col-md-4">
                <h5>Hide from vacuum cleaner man</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/_aCuOwF1ZjU"></iframe>      
                </div>      
        </div>
      </div>

      {% endif %}

    </div> <!-- /container -->

  </body>
</html>
