<!DOCTYPE html>
<html lang="en">

        {% block head %}

    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename='bootstrap.min.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename='bootstrap-theme.min.css') }}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename='ie10-viewport-bug-workaround.css')}}">
    <link rel="stylesheet"  type= "text/css" href="{{ url_for('static', filename='six_similar.css') }}">
    <script type= "text/javascript" src="{{ url_for('static', filename='ie-emulation-modes-warning.js') }}"></script>   
    <script type= "text/javascript" src="{{ url_for('static', filename='ie10-viewport-bug-workaround.js') }}"></script>
    <script type= "text/javascript" src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script type= "text/javascript" src="{{ url_for('static', filename='transition.js') }}"></script>
    <script type= "text/javascript" src="{{ url_for('static', filename='alert.js') }}"></script>
 
         {% endblock %}

<script>
window.setTimeout(function() {
    $(".alert-message").fadeTo(500, 0).slideUp(500, function(){
        $(this).remove();
    });
}, 5000);
</script>

<!--http://www.catipsum.com/index.php-->
<!-- based on template http://getbootstrap.com/examples/grid/ -->
<!--http://charliepark.org/bootstrap_buttons/  for the colouring!-->


  <body>
    <div class="container"> 
      <br>
      <p>Paste or type your text here to locate similar videos based only on their caption texts. More than 20 but less than 10,000 words. Videos with captions similar to your text will be returned. The text can be much longer than a typical youtube query, but for a meaningful result please supply a text in English and stay with the topics currently in the database, namely data science, cooking, dog training, cats, NLP, Python. The titles of the videos shoule display quickly, it can take a few seconds however for the video frames to render.</p>

            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <ul class=flashes>
            {% for message in messages %}
            <div class="alert alert-danger alert-dismissible col-md-3 alert-message" role="alert">
            <H2><strong>{{ message }}</strong></H2>
            </div>
            {% endfor %}
            </ul>
            {% endif %}
            {% endwith %}

      <form id="textform" method="post">
          <textarea class="form-control" name = "text" style="resize:none"></textarea>
          <div class="col-md-12 text-center buttondiv">    
            <button type="submit" class="btn btn-lg btn-default btn-custom" value="receive_text" name="submit">Run NLP similarity!</button>
          </div>
     </form>



      <br><br>


{% if showAll != False %}


      <div class="row">        
        <div class="col-md-4">
                <h5>{{YTTITLE1}}</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{YTID1}}"></iframe>
                </div>  
        </div>                
        <div class="col-md-4">
                <h5>{{YTTITLE2}}</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{YTID2}}"></iframe>     
                </div>  
        </div>
        <div class="col-md-4">
                <h5>{{YTTITLE3}}</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{YTID3}}"></iframe>      
                </div>      
        </div>
      </div>

      <div class="row">        
        <div class="col-md-4">
                <h5>{{YTTITLE4}}</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{YTID4}}"></iframe>
                </div>
        </div>                
        <div class="col-md-4">
                <h5>{{YTTITLE5}}</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{YTID5}}"></iframe>
                </div>
        </div>
        <div class="col-md-4">
                <h5>{{YTTITLE6}}</h5>
                <div class="embed-responsive embed-responsive-4by3">
                <iframe class="embed-responsive-item" src="http://www.youtube.com/embed/{{YTID6}}"></iframe>
                </div>
        </div>
      </div>

      {% endif %}

    </div> <!-- /container -->

  </body>
</html>
